body {
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body a {
    text-decoration: none;
    color: white;
}

.sider {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10vw;
    background-color: #212121;
    padding-top: 1.5vh;
    padding-bottom: 1vh;
}

.cookieimg {
    width: 15vw;
}

.cookieclickergame {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(220, 220, 220);
    width: 30vw;
    border: black 1px solid;
    border-radius: 7px;
}

#goback {
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: black;
    font-size: 1vw;
    font-weight: bold;
}

footer {
    position: fixed;
    height: 50px;
    background-color: #212121;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
}

.ticketing form {
    max-width: 400px;
    margin: 0 auto;
}
.ticketing input, textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.ticketing button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}
.ticketing button:hover {
    background-color: #218838;
}