<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hjemmeside</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
<br>
<div class="cookieclickergame">
    <div class="cookieclicker">
        <h2 id="showCookies">Cookies</h2>
    </div>
    <button onclick="clickCookie()" type="button" style="border: none; background: none; padding: 0; cursor: pointer;">
        <img class="cookieimg" src="/static/images/cookie.svg" alt="Bildet av Cookie">
    </button>
</div>
<br>


    <script src="/static/javascript.js"></script>
</body>
</html>