<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hjemmeside</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="overlay" id="overlay"></div>

    <div class="sider">
        <a href="/">Home</a>
        <a href="/loginregister">Login / Register</a>
        <a href="/omoss">Om Oss</a>
        <a href="/kontaktoss">Kontakt Oss</a>
    </div>
   
    {% block body %}
    <h1>PlayBox</h1>
    <br>
<div class="spill">
    <div class="altTest">
        <!-- Kort 1 -->
        <img id="cookielogo" src="/static/images/cookie.svg" type="submit" class="btnTest1"
            onclick="openPopup('popup1')">
        <div class="popup" id="popup1">
            <!-- Gjør boksen usynlig igjen -->
            <button type="button" onclick="closePopup('popup1')">x</button>
            <!-- Usynlig Boks som popper opp når du trykker på Button -->
            <div class="kortsamling">
                <iframe id="iframe1" src="/cookies" frameborder="0"></iframe>
            </div>
        </div>
    </div>
    <div class="altTest">
        <!-- Kort 1 -->
        <img id="cookielogo" src="/static/images/cookie.svg" type="submit" class="btnTest1"
            onclick="openPopup('popup2')">
        <div class="popup" id="popup2">
            <!-- Gjør boksen usynlig igjen -->
            <button type="button" onclick="closePopup('popup1')">x</button>
            <!-- Usynlig Boks som popper opp når du trykker på Button -->
            <div class="kortsamling">
                <iframe id="iframe1" src="/snake" frameborder="0"></iframe>
            </div>
        </div>
    </div>






</div>



<script src="/static/javascript.js"></script>
    {% endblock %}

    <footer>
        <p>heihei</p>
    </footer>
</body>
</html>