<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hjemmeside</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="sider">
        <a href="/">Home</a>
        <a href="/loginregister">Login / Register</a>
        <a href="/omoss">Om Oss</a>
        <a href="/kontaktoss">Kontakt Oss</a>
        <a href="/data">Data</a>
    </div>
   
    {% block body %}
    <h1>Forside</h1>
    {% endblock %}

    <footer>
        <p>heihei</p>
    </footer>
</body>
</html>