<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hjemmeside</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
<br>
<div class="Pizzaclickergame">
    <div class="Pizzaclicker">
        <h2 id="showPizza">Pizza</h2>
    </div>
    <button onclick="clickPizza()" type="button" style="border: none; background: none; padding: 0; cursor: pointer;">
        <img class="Pizzaimg" src="/static/images/Pizza.svg" alt="Bildet av Pizza">
    </button>
</div>
<br>


    <script src="/static/javascript.js"></script>
</body>
</html>